.wrapper {
    margin-top: 30px;
    .upperTable{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      a{
        text-decoration: none;
        color:white;
        font-size: 25px;
        font-weight: bold;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.82);
        width: 200px;
        padding: 5px;
        text-align: center;
      }
    }



  .itemHeader{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.5) ;
    height: 60px;
    h3{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      border: 1px rgba(128, 128, 128, 0.15) solid;
    }
  }
  .item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    text-align: center;

    &:hover {
      background-color: rgba(224, 224, 224, 0.5);
    }

    .red {
      color: red;
    }

    .green {
      color: #6bde6b;
    }

    div {
      border: 1px rgba(128, 128, 128, 0.15) solid;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .navigation {
    display: flex;
    gap: 20px;
    justify-content: end;
    font-weight: bold;
    cursor: pointer;
    .notActive{
      color: grey;
      cursor: auto;
    }
    .active{}
  }
}

